.main {
    height: 1200px;
    margin: 10px;
    background-image: url(Images/win95.jpg);
    background-repeat: no-repeat;
    background-size: center;
}

.toolbar {
    width: 120px;
    background-color: #D6D1CC;
    border: 3px solid grey;
    position: absolute;
    margin-left: 150px;
    margin-top: 100px;
}

.header {
    width: 100%;
    height: 25px;
    background-color: #6083B5;
    border-bottom: 3px solid grey;
    color: black;
    font-size: 20px;
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
}

#paint-canvas {
    width: 700px;
    height: 500px;
    background-color: white;
    border: 3px solid grey;
    position: absolute;
    margin-left: 270px;
    margin-top: 100px;
    overflow: hidden;
}

.tools {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    padding-left: 8px;
}

.tools-colors {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 8px;
    padding-left: 8px;
}

.toolbar-row {
    width: 50px;
    height: 100px;
}

.menu-point {
    width: 100%;
    padding-top: 100%;
    border-radius: 0px;
    background-color: #D6D1CC;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid rgb(99, 99, 99);
    border-bottom: 3px solid rgb(99, 99, 99);
}

#tool-erase {
    background-image: url(images/Erase.jpg);
    background-size: contain;
}

#tool-paint {
    background-image: url(images/Pen.jpg);
    background-size: contain;
}

#size-form {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.current-color {
    padding-bottom: 10px;
}

#current-color-box {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: black;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid rgb(99, 99, 99);
    border-bottom: 3px solid rgb(99, 99, 99);
}

#color-black {
    background-color: black;
}

#color-red {
    background-color: red;
}

#color-blue {
    background-color: blue;
}

#color-yellow {
    background-color: yellow;
}

#color-green {
    background-color: green;
}

#color-grey {
    background-color: grey;
}

#color-picker {
    width: 100%;
    margin: 0 auto;
    padding-left: 9px;
    padding-bottom: 9px;
    padding-right: 9px;
}

#favcolor {
    width: 90px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid rgb(99, 99, 99);
    border-bottom: 3px solid rgb(99, 99, 99);
    background-color: #D6D1CC;
}